In [2]:
%pylab inline
%matplotlib inline
# Áí∞Â¢É
import numpy as np
import pandas as pd
import random as rd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

Populating the interactive namespace from numpy and matplotlib

In [10]:
df = pd.DataFrame({'ColA':[1, np.nan, np.nan, 4, 5, 6, 7], 'ColB':[1, 1, 1, 1, 2, 2, 2]})
df

   ColA  ColB
0   1.0     1
1   NaN     1
2   NaN     1
3   4.0     1
4   5.0     2
5   6.0     2
6   7.0     2

In [4]:
print(False or True and False or True)
print(True or False)
print(False and False)
print(True and True)
print(True and False)
print(False and True)

True
True
False
True
False
False

In [6]:
def losing_team_captain(teams):
    """Given a list of teams, where each team is a list of names, return the 2nd player (captain)
    from the last listed team
    """
    
    return teams[-1][1]

teams=[['Paul', 'John', 'Ringo', 'George']]
teams
losing_team_captain(teams)

'John'

In [29]:
def purple_shell(racers):
    """Given a list of racers, set the first place racer (at the front of the list) to last
    place and vice versa.
    
    >>> r = ["Mario", "Bowser", "Luigi"]
    >>> purple_shell(r)
    >>> r
    ["Luigi", "Bowser", "Mario"]
    """
    tmp = racers[0]
    racers[0] = racers[-1]
    racers[-1] = tmp
    return racers
x = [1,2,3,4,5]
purple_shell(x)

[5, 2, 3, 4, 1]

In [8]:
def fashionably_late(arrivals, name):
    """Given an ordered list of arrivals to the party and a name, return whether the guest with that
    name was fashionably late.
    """
    if arrivals.index(name) >= len(arrivals)/2 and arrivals.index(name) != len(arrivals) - 1:
        return True
    else:
        return False
    
arrivals=['Adela', 'Fleda', 'Owen', 'May', 'Mona', 'Gilbert', 'Ford','Terry']
fashionably_late(arrivals, 'Mona')

True

In [9]:
multiplicands = (2, 2, 2, 3, 3, 5)
product = 1
for mult in multiplicands:
#     print(mult)
    product = product * mult
    print(product, "X", mult, "=", product)
product

2 X 2 = 2
4 X 2 = 4
8 X 2 = 8
24 X 3 = 24
72 X 3 = 72
360 X 5 = 360

360

In [7]:
def elementwise_greater_than(L, thresh):
    """Return a list with the same length as L, where the value at index i is 
    True if L[i] is greater than thresh, and False otherwise.
    
    >>> elementwise_greater_than([1, 2, 3, 4], 2)
    [False, False, True, True]
    """
    ans = []
    for l in L:
        ans.append(l > thresh)
    return ans
elementwise_greater_than(L, 2)

NameError: name 'L' is not defined

In [11]:
datestr = '1994-01-12'
year, month, day = datestr.split('-')
'/'.join([month, day, year])
'üëè'.join([month, day, year])
datestr + ', we miss you'

'1994-01-12, we miss you'

In [12]:
planet = 'Pluto'
pluto_mass = 1.303 * 10**22
earth_mass = 5.9722 * 10**24
population = 52910390
"{} weighs about {:.2} kilograms ({:.3%} of Earth's mass). It is home to {:,} Plutonians.".format(
planet, pluto_mass, pluto_mass / earth_mass, population
)

"Pluto weighs about 1.3e+22 kilograms (0.218% of Earth's mass). It is home to 52,910,390 Plutonians."

In [142]:
doc_list = "The Learn Python Challenge Casino."
# str(doc_list)
doc_list.lower().split(' ')

['the', 'learn', 'python', 'challenge', 'casino.']

#### 1) Do not include documents where the keyword string shows up only as a part of a larger word. For example, if she were looking for the keyword ‚Äúclosed‚Äù, you would not include the string ‚Äúenclosed.‚Äù

#### 2) She does not want you to distinguish upper case from lower case letters. So the phrase ‚ÄúClosed the case.‚Äù would be included when the keyword is ‚Äúclosed‚Äù 

#### 3) Do not let periods or commas affect what is matched. ‚ÄúIt is closed.‚Äù would be included when the keyword is ‚Äúclosed‚Äù. But you can assume there are no other types of punctuation.

In [146]:

def word_search(documents, keyword):
    # list to hold the indices of matching documents
    indices = [] 
    # Iterate through the indices (i) and elements (doc) of documents
    for i, doc in enumerate(documents):
        # Split the string doc into a list of words (according to whitespace)
        tokens = doc.split()
        # Make a transformed list where we 'normalize' each word to facilitate matching.
        # Periods and commas are removed from the end of each word, and it's set to all lowercase.
        normalized = [token.rstrip('.,').lower() for token in tokens]
        # Is there a match? If so, update the list of matching indices.
        if keyword.lower() in normalized:
            indices.append(i)
    return indices

doc_list = ["The Learn Python Challenge Casino.", "They bought a car and a casino", "Casinoville"]
keywords = ['casino', 'they']
word_search(doc_list, 'casino')

[0, 1]

In [148]:
def multi_word_search(documents, keywords):
    keyword_to_indices = {}
    for keyword in keywords:
        keyword_to_indices[keyword] = word_search(documents, keyword)
    return keyword_to_indices

multi_word_search(doc_list, keywords)

{'casino': [0, 1], 'they': [1]}

In [153]:
df = pd.DataFrame({"name": ['Alfred', 'Batman', 'Catwoman'],
                    "toy": [np.nan, 'Batmobile', 'Bullwhip'],
                   "born": [pd.NaT, pd.Timestamp("1940-04-25"),
                             pd.NaT]})
df
df.dropna(axis = 0)

     name        toy       born
1  Batman  Batmobile 1940-04-25

In [158]:
# decision tree
from sklearn.tree import DecisionTreeRegressor
# no data

In [5]:
def twoSum(nums, target):
    nums_dict = {}
    for index, item in enumerate(nums):
        candidate = nums_dict.get(item)
        if candidate is not None:
            return[candidate, index]
        else:
            nums_dict[target - item] = index
nums = [2, 7, 11, 13]
target = 9
twoSum(nums, target)

[0, 1]

In [174]:
l1 = [2, 4, 3]
l2 = [5, 6, 4]
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [168]:
# import val
# class ListNode():
#     def __init__(self, x):
#         self.val = x
#         self.next = None

def addTwoNumbers(l1, l2):
    carry_over = 0
    dummy = end = ListNode(0)
    while l1 or l2 or carry_over:
        v1 = l1.val if l1 else 0
        v2 = l2.val if l2 else 0
        val = v1 + v2 + carry_over
        if val >= 10:
            carry_over = 1
            val = val - 10
        else:
            carry_over = 0
        end.next = ListNode(val)
        end = end.next
        if l1:
            l1 = l1.next
        if l2:
            l2 = l2.next
    return dummy.next

In [6]:
def reverse(x):
    isNegative = x < 0
    if isNegative:
        x = x * -1
    xStr = str(x) 
    xStr = xStr[::-1]
    return xStr

In [20]:
reverse(-5321313155)

'5513131235'

613247079